body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
     font-size: 24px;
    padding: 0;
}

.container {
    margin: 0 166px;
}

.header {
    background-image: url(../img/bg.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
}

.nav a {
    color: #fff;
    text-decoration: none;
}